*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden; /* bloqueia scroll horizontal */
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ABB2FF;
    overflow-x: hidden; /* bloqueia scroll horizontal */
    
}
body h1{
    text-align: center;
}
body section{
    
    background-color:rgb(238, 238, 238);
    border-radius: 20px;
    box-shadow:#0000001e 5px 6px 4px 1px;
    width: 30vw;
    margin: auto;
    padding: 1rem;
}
body section h2{
    text-align: center;
    font-size: 2rem;
}

body section form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

body section form input{
    width: 50%;
    text-align: justify;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 3px;
    border: 0.5px solid #303030; /* 1px = borda fina */
    padding: 0.5rem; /* espaço interno para não ficar apertado */
   

}

body section form label{
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
}

body section form select{
     width: 52%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 3px;
    border: 0.5px solid #303030; /* 1px = borda fina */
    padding: 0.5rem; /* espaço interno para não ficar apertado */
   

}

body section form div{
    margin: 1rem 0;
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
.btn{
    width: 30%;
}
#submit{
    background-color: #C8FFAB ;
}
#reset{
    background-color:#FFC4AB;
}

@media(max-width:1030px){
    body section form div{
        margin: 1rem 0;
        width: 55%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }.btn{
    width: 40%;
    font-size: 0.7rem;
    font-weight: 600;
    }
    
}

@media(max-width:425px){




    body section{

        width: 60vw;
        margin: auto;
        padding: 0.5rem;
    }body section form div{
     
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        height: 110px;
    }.btn{
        width: 60%;
        height: 40px;
        font-size: 0.7rem;
        font-weight: 600;
    }body section form select{
        width: 65%;
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 100;
        border-radius: 3px;
        border: 0.5px solid #303030; /* 1px = borda fina */
        padding: 0.5rem; /* espaço interno para não ficar apertado */

    }body section form input{
        width: 65%;
    }
}