body{
    font-family: monospace;
    background-color: #F5C303;
}
main{
    border-radius: 20px;
    height: 300px;
    box-shadow: 8px 6px 14px 2px rgba(0, 0, 0, 0.322);
    background-color: #3f49ff;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cronometro-h1{
    font-size: 3rem;

}
button{
    font-size: 1.6rem;
    
}
.inicio{
    background-color: green;
    color: white;
}
.final{
    background-color: red;
    color: white;
}