section{
    width:60%;
    margin: auto;
    margin-top: 300px;


}
form{
    margin: auto;
    display: flex;
    flex-direction: column;

}
form label {
    font-size: 2rem;
}
form input{
    font-size: 2rem;
}
.cs-input{
     font-size: 2rem;
     margin: 1rem;
}
.cs-btn{
    font-size: 2rem;
    height: 50px;
}