* {
  box-sizing: border-box; /* aplica para tudo */
}
html,body{

    height: 100%;
    padding: 0;
    margin: 0;

}
main{
    padding: 2px;
    min-height: 100vh;
}
.h1-titulo_principal{
    font-size: 4rem;
    text-align: center;
}
.section-conteiner{
    width: 70%;
    margin: auto;
    height: 300px;
}
.form-conteiner{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.form-conteiner input {
    margin-top: 5px;
    font-size: 2.5rem;
    padding: 1px;
}
.form-conteiner label{
    font-size: 1.5rem;
    margin: 5px;
}
.form-conteiner  #enviar{
    margin-top: 20px;
    width: 100%;
    height: 50px;

}